<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 2%;">
  <a class="navbar-brand" href="/users/<%= userID %>"> <%= name %> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto" style="margin-left: 30px;">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addBook">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false"></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/users/<%= userID %>">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>

          <a href="/users/logout" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->

    <form action="/search" method="POST">
      <div class="search">
        <input class="search-inp" type="text" name="key" id="key" placeholder="Search" />
        <button class="butt" type="submit"><i class="fas fa-search" style="font-size: 18px;"></i></button>
      </div>
    </form>
  </div>
</nav>