<%- include('./includes/head.ejs') %>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error page</title>
</head>

<body>

  <h3 style="text-align: center; font-family: 'roboto';margin-top: 5%;"> <%= ERROR %> </h3>
  <a href="/index" class="btn btn-primary " style="margin: 5% 45%"> Back to HOME</a>
</body>

</html>
<%- include('./includes/end.ejs') %>