<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/hi.css" />

</head>

<body class="landing is-preload">
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="#">PaperBack </a> from CSE</h1>
      <nav id="nav">
        <ul>
          <li><a href="#">Home</a></li>

          <li><a href="/users/register" class="button">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
      <h2>PaperBack</h2>
      <p>A Book Sharing System for East West University</p>
      <ul class="actions special">
        <li><a href="/users/login" class="button ">Sign in</a></li>
        <li><a href="/users/register" class="button">Register</a></li>
      </ul>
    </section>

    <!-- Main -->


    <!-- CTA -->
    <!-- <section id="cta">

      <h2>Sign up for beta access</h2>

      <form>
        <div class="row gtr-50 gtr-uniform">
          <div class="col-8 col-12-mobilep">
            <input type="email" name="email" id="email" placeholder="Email Address" />
          </div>
          <div class="col-4 col-12-mobilep">
            <input type="submit" value="Sign Up" class="fit" />
          </div>
        </div>
      </form> -->

    </section>

    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; PaperBack. All rights reserved.</li>
        <li />Design: Safia Jahan</li />
      </ul>
    </footer>

  </div>

  <!-- Scripts -->
  <!-- <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script> -->

</body>

</html> <!-- e89980 -->