<%- include('./includes/head.ejs') %>
<style>
  * {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    height: 100vh;
    background-size: cover;
    background-position: center;
  }


  .title h1 {
    color: #fff;
    font-size: 50px;
  }

  .title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main {
    max-width: 1200px;
    margin: auto;
    font-size: 16px;
  }

  .button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn1 {
    margin: 0px 5px;
    padding: 10px 30px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    font-size: 18px;

  }

  .btn1:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;

  }

  ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
  }

  ul li {
    display: inline-block;
  }

  ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }

  ul li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  ul li.acive a {
    background-color: #fff;
    color: #000;
  }
</style>
</head>

<header>
  <nav>
    <div class="main">
      <ul>
        <li class="active"><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Welcome</a></li>
        <li><a href="#">Nothing</a></li>
      </ul>
    </div>
  </nav>
  <div class="title">
    <h1> Welcome to PaperBack </h1>
  </div>

  <!-- <h1> <i class="fas fa-book"></i> </h1> -->
  <!-- <p>Create an account or login</p> -->
  <div class="button">
    <a href="/users/register" class="btn1">Register</a>
    <a href=" /users/login" class="btn1">Login</a>
  </div>
</header>